.form_container {
    padding: 15px 15px 15px 15px;
    background: #ebebeb;
    margin: 0 0 10px 0;
    width: 970px;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.36);
    -moz-box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.36);
    box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.36);
}
.row_form_container{
	width: 484px;
	float: left;
}
.row3_form_container{
	width: 945px;
	float: left;
}
.row2_form_container{
	width: 484px;
	float: left;
	padding-top: 40px;
}
.col3_form_container{
	width: 484px;
	float: right;
}
.col1_form_container{
	width: 200px;
	float: left;
	padding-left: 17px;
	margin-left:12px;
}
.col2_form_container{
	width: 241px;
	float: left;
	padding-left: 0px;
}
.col4_form_container{
	width: 120px;
	float: left;
}
.col5_form_container{
	width: 341px;
	float: left;
	padding-left: 0px;
}
.col6_form_container{
	width: 100px;
	float: left;
	padding-left: 0px;
}
.col7_form_container{
	width: 160px;
	float: left;
	padding-left: 17px;
	margin-left:12px;
}
.col8_form_container{
	width: 240px;
	float: left;
	margin-left:5px;
}
.col9_form_container{
	width: 250px;
	float: left;
	padding-left: 17px;
	margin-left:27px;
}
.col10_form_container{
	width: 240px;
	float: left;
	margin-left:176px;
}
.col2_checkbox{
	width: 25px;
	float: left;
}

.labels{
	display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 11px;
}
.labels1{
	display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 11px;
    padding-left: 48px;
}
.form_title{
    text-align: center;
    padding-left: 280px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}.form_label{
    text-align: center;
	padding-left: 17px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}
.pmarf_textarea_labels{
	text-align: center;
	padding-left: 17px;
    font-size: 12px;
}
.col_checkbox{
	width: 40px;
	float: left;
	padding-left: 17px;
	margin-left:12px;
}

.checkbox_label{
	width: 845px;
	float: left;
}
.checkbox2_label{
	width: 200px;
	float: left;
}
.checkbox3_label{
	width: 170px;
	float: left;
}
.checkbox4_label{
	width: 190px;
	float: left;
	margin-left: 10px;
}
.checkbox5_label{
	width: 40px;
	float: left;
	margin-left: 10px;
}
.others{
	width: 146px;
	float: left;
	margin-left: 10px;
}
.agency_textbox{
	width: 180px;
	float: left;
}
.checkbox_container{
	width: 907px;
	float: left;
}
.textarea{
	padding-left: 17px;
	margin-left:12px;
}
.textarea_width{
	width: 880px;
}
.textarea_messages_width{
	width: 600px;
}
.textarea_messages_container{
	width: 880px;
	border: 1px solid #c7c5c7;
	margin-left: 28px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.pmarf_textarea{
	margin-left:12px;
	margin-top: 2px;
	width: 915px;
	margin-top: 1px;
}
.border{
	border: 1px solid;
}
.textarea_inside_label{
	width: 80px;
	float: left;
	padding-left: 5px;
	margin-left: 15px;
	font-weight: bold;
    font-size: 11px;
}
.textarea_inside_width{
	width: 765px;
	float: left;
}
.form_note{
	display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
    padding-left: 29px;
    font-weight: normal;
}
.attachment_note{
	display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
    padding-left: 17px;
    font-weight: normal;
}
<<<<<<< HEAD
=======
.tac{
	display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
    padding-left: 17px;
    font-weight: normal;
	text-align: center;
}
>>>>>>> 5b637679bb4c577b0b807f01d9c189988b098eeb
.attachment_container{
	display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
    padding-left: 17px;
    font-weight: normal;
    width: 440px;
}
.sample_file{
	display: inline-block;
    margin-bottom: 5px;
    font-size: 9px;
    font-weight: normal;
    width: 200px;
}
.delete_file{
	display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
    width: 200px;
}
.comment_notes{
	width: 600px;
	float: left;
}
.comment_button{
	width: 278px;
	float: left;
	padding-left: 210px;
}
.comment_container{
	width: 880px;
	margin-left: 46px;
}
.button_notes{
	display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: normal;
}
.btndefault{
	height: 26px;
	font-size: 10px;
	font-weight: bold;
	background-color: #e9e7e9;
}
.pmarf_buttons{
	height: 26px;
	font-size: 10px;
	font-weight: bold;
	width: 90px;
	background-color: #e9e7e9;
}
.acknowledge_btn{
	height: 26px;
	font-size: 10px;
	font-weight: bold;
	width: 100px;
	background-color: #e9e7e9;
}
.acknowledge_btn_spacing{
	width: 270px;
	float: left;
	padding-left: 178px;
}
.back_center_btn{
	height: 26px;
	font-size: 10px;
	font-weight: bold;
	width: 30px;
	background-color: #e9e7e9;
	padding-left: 430px;
}
.pmarf_buttons_spacing{
	width: 278px;
	float: left;
	padding-left: 186px;
}
.btnbrowse{
	height: 26px;
	font-size: 10px;
	font-weight: bold;
	width: 70px;
	padding-left: 2px;
}
<<<<<<< HEAD
=======
.btnAddDep{
	height: 26px;
	font-size: 10px;
	font-weight: bold;
}
>>>>>>> 5b637679bb4c577b0b807f01d9c189988b098eeb
.extra_labels{
	width: 150px;
	float: left;
	padding-left: 17px;
	margin-left:35px;
}
.textbox_sm{
	width: 30px;
	float: left;
}
.tbl{
	width: 798px;
	padding-left: 52px;
}
.tbl2{
	width: 909px;
	padding-left: 52px;
}
.tbl3{
	height: 40px;
	width: 909px;
	padding-left: 52px;
}
.th_style{
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
.pm_txtbox{
	width: 204px;
	margin-left: 7px;
}
.pm_dd{
	width: 100px;
	margin-left: 2px;
}
.td_height{
	height: 30px;
}
.td_style{
    font-weight: normal;
    font-size: 12px;
	padding-left: 5px;  
}
.td_pm_style{
    font-weight: normal;
    font-size: 12px;
}
.border_bottom{
	border-bottom: 1px solid;
}
.placeholders{
	text-align: center;
}
.itext{
	color: #7f7d6d;
}
.tbl_listing_container {
    padding: 15px 15px 15px 15px;
    margin: 0 0 10px 0;
    width: 970px;
    border-radius: 5px;
}
.centeredtext{
	text-align: center;
}
#cbr_list{
	width: 100%;
	font-size: 12px;
}
.assignto{
	width: 164px;
	height: 29px;
	margin-left: 10px;
}
.btn2{
	height: 28px;
	font-size: 12px;
	font-weight: bold;
	width: 82px;
}
.btnacknowledge{
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	width: 210px;
	margin-left: 67px;
}
.btnback{
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	width: 80px;
	margin-left: 797px;
}
.pmarf_form_title{
	margin-left: 360px;
}
.pm_form_title{
	margin-left:340px;
}
<<<<<<< HEAD
=======
.cc_form_title{
	margin-left:340px;
}
>>>>>>> 5b637679bb4c577b0b807f01d9c189988b098eeb
.quantity{
	width: 220px;
}
.quantity_textbox{
	width: 200px;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.product_textbox{
	width: 454px;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.pmarf_btns{
	width: 180px;
	margin-top: 10px;
	margin-left: 12px;
}
.pmarf_dropdown_labels{
	width: 200px;
	float: left;
}
.return_to_label{
	width: 100px;
	float: left;
}
.radiobutton_container{
	width: 590px;
	float: left;
	margin-left: 212px;
}
.radiobtn{
	width: 150px;
	float: left;
}
.ete_btns{
	width: 270px;
	margin-top: 10px;
	margin-left: 30px;
}
.panel_width{
	margin-left:30px;
	width: 915px;
}
.panel_text{
	font-size: 12px;
}
.te_textarea_labels{
	text-align: center;
	padding-left:20px;
    font-size: 10px;

}
.p_rate{
	padding-left: 200px;
}
.pcv{
	border: 1px solid;
	width: 910px;
	margin-left: 13px;
}
.pcv_footer{
	border: 1px solid;
	width: 910px;
	margin-left: 13px;
	padding-left: 300px;
}
.pcv_footnote{
	padding-left: 400px;
	padding-top: 20px;
}
.overall_rate{
	padding-left: 380px;
	padding-top: 20px;
}
.total_weigh{
	padding-left: 600px;
	padding-top: 10px;
}
.overall_rate_po{
	padding-left: 410px;
	padding-top: 10px;
}
.pcv_rating{
	padding-left: 664px;
	padding-top: 5px;
}
.tbl_te{
	width: 776px;
	margin-left: 13px;
}
.tbl_pm_questions{
	width: 910px;
	margin-left: 13px;
}
.td_radios{
	width: 80px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}
.th_left{
    text-align: left;
    padding-left: 6px;
}
.ete_radio_btn{
	padding-left: 17px;
    font-size: 12px;
}
.print_btn{
	margin-left: 600px;
}
.rc{
	width: 300px;
}
.pm_po{
	width: 140px;
	margin-left: 3px;
	margin-right: 7px;
}
.pm_form_container{
	width: 600px;
	float: left;
	margin-left:12px;
}
.pm1_form_container{
	width: 300px;
	float: left;
	margin-left:12px;
}
.pm_text_header{
	font-size: 10px;
	text-align: center;
}
.pm_tbl_labels{
	font-size: 10px;
	text-align: left;
}
.30px_height{
	height: 30px !important;
}
.borderleft{
	border-left: 1px solid;
}
.borderbottom{
	border-bottom: 1px solid;
}
.borderright{
	border-right: 1px solid;
}
.bordertop{
	border-top: 1px solid;
}
.faplus{
	color: #c80b32;
	text-align: left;
}
<<<<<<< HEAD
=======
.cc_form{
    padding-left: 348px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}
.inp{
	margin-left: 8px;
}
.print{
	width: 278px;
	float: left;
	padding-left: 808px;
}
.signatures{
	width: 912px;
	margin-left: 13px;
	background-color: #FFFFFF;
}





