
#employee_filter_con
{
    padding:15px 15px 15px 15px;
    background:#ebebeb;
    margin:0 0 10px 0;
    width:970px;
    
    border-radius:5px;
   -webkit-box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.36);
   -moz-box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.36);
	box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.36);    
}

#employee_filter_con label 
{
    font-size:11px;
}

#employee_filter_con select, #employee_filter_con input
{
    width:250px;
    max-width:300px;
}

#employee_filter_con div
{
    margin-right:30px
}

#employee_list td
{
    font-size:12px;
}