* {
	margin: 0;
}

html,
body {
  height: 100%;
}

#preloader_con_body
{
	position:fixed;
	top:40%;
	left:46%;
	z-index:1001;
	width:100px;
	height:100px;
	text-align:center;
	display:none;
}

#wrap {

  min-height: 550px;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
  
}


#footer {
  height: 60px;
  background-color: #E6E6E6;
  text-align:center;
  padding:10px 0 0 0;
  font-size:12px;
  font-weight:bold;
}

.leftfloat
{
    float:left
}

.rightfloat
{
    float:right;
}

.clear
{
	clear:both
}

.clear_5
{
	clear:both;
	height:5px;
}


.clear_6
{
	clear:both;
	height:6px;
}


.clear_10
{
	clear:both;
	height:10px;
}


.clear_15
{
	clear:both;
	height:15px;
}

.clear_20
{
	clear:both;
	height:20px;
}

.clear_40
{
	clear:both;
	height:40px;
}

.clear_60
{
	clear:both;
	height:60px;
}



/*  for Pop up Window Form */
.container_window{

  width: auto;
  max-width:980px;
  padding: 0 15px;

}

.container_window_full{

  width: auto;
  padding: 0 15px;
}


/*  For Full size page  form */
.container {

  width:1000px;
  padding: 0 15px;
  margin: 20px 0 0 0;
  float:left;
 
}

.container_pdf{

  width: auto;
  max-width:980px;
  padding: 0 15px;

}

.container .text-muted {
  margin: 20px 0;
}

.nav_tab_container 
{
	width:200px;
	margin:0 25px 0 0;
}

.nav_tab_container  ul li
{
	font-size:12px !important;
}

.menu_bar  a
{
	font-size:12px !important;
	color:#000000 !important;
}

.menu_bar  .active
{
	background-color:#EEEEEE;
}

.menu_bar  .dropdown-menu li
{
	padding:0 0 0 0 !important;
}


.company_logo
{
	padding:10px;
	margin:0 5px 0 0;
	width:72px;
	height:71px;
	float:left;
}

.system_logo
{
	float:left;
	margin:17px 0 0 0;
	color:#BD0F0A;
	text-shadow: 1px 1px 5px #B8B6B6;
}


.login_info
{
	float:right;
	margin:30px 10px 0 0;
	/* color:#A51B1B; */
	text-shadow: 1px 1px 5px #B8B6B6;
}

.header_hr
{
	border:none;
	height:20px;
	background:#C60C30;
	margin:0 0 0 0;
}



.login_container
{
	padding:0 20px 25px 20px;
	width:320px;
	margin: 100px auto 0 auto;
	border: 1px solid #B5B5B5;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #D9D9D9;
	
}

.login_title
{
	text-align:center;
}

.login_container_message
{
	text-align:center;
	display:none;
}



.actionpanel
{
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #ababab;
    font-size: 12px;
    min-height: 100px;
    padding: 10px;
    width: 900px;
    margin:0 0 0 0;
    border-radius: 5px;
}

.actionpanel_label
{
	float:left;
	margin:0 0 0 0;
	padding:0 0 0 5px;
}

.actionpanel_button
{
	float:right;
	margin:0 15px 0 0;
}


.td_center
{
	text-align:center;
}

#my_taf_list_info
{
	margin-top:5px;
}

#my_taf_list_paginate
{
	margin-top:10px;
}


#approval_taf_list_info
{
	margin-top:5px;
}

#approval_taf_list_paginate
{
	margin-top:10px;
}

#submitted_taf_list_info
{
	margin-top:5px;
}

#submitted_taf_list_paginate
{
	margin-top:10px;
}

.attachment_list_container
{
	border-bottom:solid 1px #C4C4C4;
	padding:10px;
	margin-bottom:5px;
}

.preload_container
{
	display:none;
}

#notice_container
{
    text-align:center;
    width:400px;
    margin:0 auto 0 auto;
    padding-top:150px;
}


/**** FOR LISTVIEW TEMPLATE Added by Bren ****/

.lvdiv
{
   border:2px solid #D6D6D6;
   width:100%; 
   min-height:150px;
   background-color:#eeeeee;
   overflow:auto;
}

.lvtable
{
    background-color:#E8E8E8;
    margin-top:20px;
}

.lvtable *
{
    padding:1px 0px 1px 0px;
}

.lvtitle
{
    font-weight:bold;
    text-align:left;
    padding-left:5px;
    background-color:#A9BDF3;
}

.lvheader
{
    font-weight:bold;
    text-align:center;
}

.lvfooter
{
    font-weight:bold;
    background-color:#B1C9EB;
}

.lvrow
{
    cursor:pointer;
    background-color:#FDF1F1;
}

.lvrow2
{
    cursor:pointer;
    background-color:#E8E8E8;
}

.lvrow:hover
{
    background-color:#D79F9F;
    font-weight:bold;
}

.lvrow2:hover
{
    background-color:#D79F9F;
    font-weight:bold;
}

.lvrownew
{
    color:#228B00;
    cursor:pointer;
    background-color:#FDF1F1;
/*    font-weight:bold;*/
}

.lvrownew2
{
    color:#228B00;
    cursor:pointer;
    background-color:#E8E8E8;
/*    font-weight:bold;*/
}

.lvrownew:hover
{
    background-color:#D79F9F;
    font-weight:bold;
}

.lvrownew2:hover
{
    background-color:#D79F9F;
    font-weight:bold;
}

.invisibleText
{
    background-color:transparent;
    border:0px;
}

.underlineText
{
    background-color:transparent;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    text-align:center;
}

.showall
{
    color:black;
    text-decoration:none;
}

.showall:hover
{
    color:blue;
    text-decoration:underline;
}

/**** END LISTVIEW TEMPLATE ****/

.hide-el
{
    display:none;
}